
<app-authed-navbar></app-authed-navbar>

<div class="main-content ">
    <div class="deny-layer"></div>
    <div class="content ">






        <section class="section default ">
            <div style="text-align: center;padding: 23px;" *ngIf="pendingCoach ==true" class="alert alert-info alert-dismissible fade show">

                <strong>Bonjour {{user?.firstname}} {{user?.lastname}} ! Vous êtes maintenant Trieur , Merci d'attendre la confirmation de votre demande pour devenir Coach :)</strong>
                <button type="button" class="close" data-dismiss='alert' area-label="Close">
                <span aria-hidden="true">+</span>
              </button>
                <br>

                <span>Vous serez notifier par email une fois votre demande est traitée !</span>

            </div>
            <br><br>
            <div class="header-wrapper personal-space-header ">
                <h1 class="header-title">Mon tableau de bord</h1>


            </div>
            <main class="dashboard ">
                <div class="dashboard-tab">
                    <div class="dashboard-tab-left">

                        <div></div>

                        <h2 *ngIf="showCoachSection==true">Mon Coach</h2>

                        <section class="current-boss-information " *ngIf="showCoachSection && myCoach">
                            <div class="left">
                                <div class="user-photo" *ngIf="myCoach?.avatar" [ngStyle]="{'background-image':'url('+URL+myCoach?.avatar+')'}">

                                </div>

                                <div class="user-photo" *ngIf="!myCoach?.avatar" [ngStyle]="{'background-image':'url('+noAvatarPicUrl+')'}">

                                </div>

                                <p class="user-name " style="text-transform: capitalize;">{{myCoach?.firstname}} {{myCoach?.lastname}}
                                </p>
                                <p class="user-data " style="text-transform: capitalize;">{{myCoach?.city}}</p>
                            </div>
                            <div class="right">
                                <p>Plastique PET</p>
                                <p>{{myCoach?.email}}</p>
                                <p>{{myCoach?.tel}}</p>
                                <p>{{myCoach?.addresses.primary_address}} {{myCoach?.addresses.zip}} {{myCoach?.addresses.city}} </p>
                                <div class="wrap-btn"><button type="button" class="btn" [routerLink]="[ '/personal-coach' ]">Voir ses dispos</button></div>
                            </div>
                        </section>


                        <div *ngIf="showCoachSection && !myCoach" class="right">
                            <h2 style="color: red; text-align: center;">J'ai pas encore un Coach</h2>

                            <div class="user-photo">
                                <img class="under-validation-photo" src="./assets/img/sad_face.png">

                            </div>

                            <div class="wrap-btn" style="text-align: center;    margin-bottom: 35px;
              margin-top: 35px;">
                                <button type="button" class="btn" [routerLink]="[ '/personal-coach' ]">Choisir mon Coach</button>
                            </div>
                        </div>








                        <h2 hide-role="global_manager, city_manager">Statistiques personnelles</h2>
                        <section class="user-statistics" hide-role="global_manager, city_manager">

                            <div class="list">
                                <div class="stat "><span class="number ">{{myPoints?.available_points}}</span><span class="title ">Points
                    GC disponibles</span></div>
                                <div class="stat "><span class="number ">{{mySacNumbers?.confirmed}}</span><span class="title ">Mes sacs triés</span></div>
                                <div *ngIf="myPoints?.Points_as_Coach!=0" class="stat  "><span class="number ">{{myPoints?.Points_as_Coach}}</span><span class="title ">Points
                    comme Coach</span></div>
                                <div class="stat  "><span class="number ">{{myPoints?.Ref_points}}</span><span class="title ">Points de
                    parrainage</span></div>
                            </div>

                        </section>



                        <div >
                            <h2>Mon stock actuel de sacs vides</h2>
                            <section class="user-storage-area">

                                <div class="list ">
                                    <div class="stat">
                                        <span *ngIf="mySacNumbers?.empty==0" class="title">Pas de sac vide en stock actuellement</span>
                                        <span class="number ">{{mySacNumbers?.empty}}</span><span *ngIf="mySacNumbers?.empty!=0" class="title">Sacs en PET vides chez moi</span>
                                    </div>
                                </div>

                            </section>
                        </div>

                        <h2 hide-role="global_manager, idle" style="text-transform: capitalize;">Green Chain dans ma ville : {{user?.city}}</h2>


                        <section class="user-statistics" >
                            <div class="list">
                                <div class="stat "><span class="number ">{{publicStats?.AT_collected}}</span><span class="title ">Sacs
                    triés</span></div>

                                <div class="stat "><span class="number ">{{publicStats?.trieurs}}</span><span class="title ">Nombre
                    Trieurs actifs</span></div>
                                <div class="stat "><span class="number ">{{publicStats?.confirmed_coachs}}</span><span class="title ">Nombre Coachs actifs</span></div>

                            </div>
                        </section>


                    </div>


                    <div class="dashboard-tab-right">


                        <h2 hide-role="global_manager, city_manager">Parrainage</h2>

                        <section class="sponsoring " hide-role="global_manager, city_manager">

                            <div>

                                <h3>Faites entrer vos amis dans la communauté GreenChain !
                                </h3>

                                <p>Invitez vos amis en partageant votre code de parrainage ci-dessous, ils devront l'indiquer au moment de leur inscription ! Vous recevrez 50 PTS à chaque nouvelle inscription</p>

                                <div class="input-wrapper inputProfile inputSponsor">
                                    <input type="text" placeholder="n° sponsoring" name="buttonSponsor" class="sponsorship-code" value={{myreflink}}>
                                    <button type="button" class="btn secondary buttonSponsor ">Parrainer</button>

                                </div>
                            </div>
                        </section>



                        <h2>Mon profil</h2>
                        <section class="user-identity">
                            <div *ngIf="user?.avatar==null" class="user-photo" [ngStyle]="{'background-image':'url('+noAvatarPicUrl+')'}">

                            </div>
                            <div *ngIf="user?.avatar!=null" class="user-photo" [ngStyle]="{'background-image':'url('+URL+user?.avatar+')'}">

                            </div>
                            <p class="user-name " style="text-transform: capitalize; ">{{user?.firstname}} {{user?.lastname}}
                            </p>
                            <p *ngIf="!isConfirmedCoach" style="text-transform: capitalize;">Trieur - {{user?.city}}
                            </p>
                            <p *ngIf="isConfirmedCoach" style="text-transform: capitalize;">Trieur - {{user?.city}}
                            </p>
                            <p style="text-transform: capitalize;">{{user?.email}}</p>
                            <div class="wrap-btn"><a class="user-edit secondary" [routerLink]="['/profile']">Editer mon profil</a></div>
                        </section>


                    </div>

                </div>