<!-- <div class="header-top">

    <div class="nav-trigger not-active">
        <i></i><i></i><i></i>
    </div>

    <div class="logo">
        <a [routerLink]="['/']" class="tab-item-link">
            <img src="/assets/img/logo.png">
        </a>
    </div>

    <ul class="tab-list-nav not-active">

        <li class="tab-item " [routerLink]="['/trieur-dashboard']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="tab-item-text">Tableau de bord</span>
            </a>
        </li>


        <li class="tab-item " [routerLink]="['/distribution']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="tab-item-text">Gérer mes sacs</span>
            </a>
        </li>
        <li class="tab-item " [routerLink]="['/personal-coach']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="tab-item-text">Coach</span>
            </a>
        </li>

        <li class="tab-item " [routerLink]="['/rewards']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="tab-item-text">Récompenses</span>
            </a>
        </li>
        <li class="tab-item " [routerLink]="['/profile']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="tab-item-text">Profil</span>
            </a>
        </li>

        <li class="tab-item " [routerLink]="['/contact']" routerLinkActive="active">
            <a class="tab-item-link">
                <span class="nav-item-text">Contact</span>
            </a>
        </li>
        <li class="tab-item">
            <a fileSaver [method]="'GET'" [fileName]="'consigne.pdf'" [url]="'assets/consigne.pdf'" class="tab-item-link ">
                <span class="nav-item-text">Consignes de tri</span>
            </a>
        </li>
    </ul>

    <div class="header-shop-wrapper">
        <a class="icon " [routerLink]="['/boutique']"><svg viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg" id="shop">
        <path
          d="M85 30.415v20.198h-4.77V86H19.77V50.613H15V30.415h21.426c-1.617-1.713-2.615-4.025-2.615-6.57v-.298c0-5.264 4.246-9.547 9.464-9.547h.295c2.482 0 4.74.978 6.43 2.564C51.69 14.978 53.947 14 56.43 14h.294c5.218 0 9.463 4.283 9.463 9.547v.298c0 2.545-1 4.857-2.615 6.57zM53.035 79.878h21.128V50.613H53.035zm-27.198 0h21.128V50.613H25.837zM53.035 44.47H78.93V36.54H53.036zm-31.966 0h25.895V36.54H21.07zm18.81-20.923v.298c0 1.888 1.522 3.425 3.394 3.425h3.69v-3.723c0-1.888-1.523-3.425-3.395-3.425h-.296c-1.872 0-3.395 1.537-3.395 3.425zm13.156 0v3.723h3.69c1.872 0 3.395-1.537 3.395-3.425v-.298c0-1.888-1.522-3.425-3.394-3.425h-.294c-1.873 0-3.396 1.537-3.396 3.425z"
          fill-rule="evenodd"></path>
      </svg></a>
    </div>

    <div title="Logout" class="header-account-identification header-user-wrapper">
        <div class="icon " (click)="logout()">

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 297 297" style="enable-background:new 0 0 297 297;" xml:space="preserve">
         <g>
           <g>
             <g>
               <path d="M155,6.5c-30.147,0-58.95,9.335-83.294,26.995c-2.789,2.023-3.547,5.853-1.739,8.787L92.83,79.374
                 c0.962,1.559,2.53,2.649,4.328,3.004c1.796,0.354,3.661-0.054,5.145-1.129c14.23-10.323,31.069-15.78,48.698-15.78
                 c45.783,0,83.03,37.247,83.03,83.03c0,45.783-37.247,83.03-83.03,83.03c-17.629,0-34.468-5.456-48.698-15.78
                 c-1.484-1.076-3.349-1.486-5.145-1.129c-1.798,0.355-3.366,1.444-4.328,3.004l-22.863,37.093
                 c-1.808,2.934-1.05,6.763,1.739,8.787C96.05,281.165,124.853,290.5,155,290.5c78.299,0,142-63.701,142-142S233.299,6.5,155,6.5z"
                 />
               <path d="M90.401,201.757c1.147-2.142,1.021-4.74-0.326-6.76l-15.463-23.195h93.566c12.849,0,23.302-10.453,23.302-23.302
                 s-10.453-23.302-23.302-23.302H74.612l15.463-23.195c1.348-2.02,1.473-4.618,0.326-6.76c-1.146-2.141-3.377-3.478-5.806-3.478
                 H40.019c-2.201,0-4.258,1.1-5.479,2.933L1.106,144.847c-1.475,2.212-1.475,5.093,0,7.306l33.433,50.149
                 c1.221,1.832,3.278,2.933,5.479,2.933h44.577C87.025,205.235,89.256,203.898,90.401,201.757z"/>
             </g>
           </g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         <g>
         </g>
         </svg>


        </div>
    </div>

</div> -->

<app-authed-navbar></app-authed-navbar>

<div class="main-content ">
    <div class="deny-layer"></div>
    <div class="content ">






        <section class="section default ">
            <div style="text-align: center;padding: 23px;" *ngIf="pendingCoach ==true" class="alert alert-info alert-dismissible fade show">

                <strong>Bonjour {{user?.firstname}} {{user?.lastname}} ! Vous êtes maintenant Trieur , Merci d'attendre la confirmation de votre demande pour devenir Coach :)</strong>
                <button type="button" class="close" data-dismiss='alert' area-label="Close">
                <span aria-hidden="true">+</span>
              </button>
                <br>

                <span>Vous serez notifier par email une fois votre demande est traitée !</span>

            </div>
            <br><br>
            <div class="header-wrapper personal-space-header ">
                <h1 class="header-title">Mon tableau de bord</h1>


            </div>
            <main class="dashboard ">
                <div class="dashboard-tab">
                    <div class="dashboard-tab-left">

                        <div></div>

                        <h2 *ngIf="showCoachSection==true">Mon Coach</h2>

                        <section class="current-boss-information " *ngIf="showCoachSection && myCoach">
                            <div class="left">
                                <div class="user-photo" *ngIf="myCoach?.avatar" [ngStyle]="{'background-image':'url('+URL+myCoach?.avatar+')'}">

                                </div>

                                <div class="user-photo" *ngIf="!myCoach?.avatar" [ngStyle]="{'background-image':'url('+noAvatarPicUrl+')'}">

                                </div>

                                <p class="user-name " style="text-transform: capitalize;">{{myCoach?.firstname}} {{myCoach?.lastname}}
                                </p>
                                <p class="user-data " style="text-transform: capitalize;">{{myCoach?.city}}</p>
                            </div>
                            <div class="right">
                                <p>Plastique PET</p>
                                <p>{{myCoach?.email}}</p>
                                <p>{{myCoach?.tel}}</p>
                                <p>{{myCoach?.addresses.primary_address}} {{myCoach?.addresses.zip}} {{myCoach?.addresses.city}} </p>
                                <div class="wrap-btn"><button type="button" class="btn" [routerLink]="[ '/personal-coach' ]">Voir ses dispos</button></div>
                            </div>
                        </section>


                        <div *ngIf="showCoachSection && !myCoach" class="right">
                            <h2 style="color: red; text-align: center;">J'ai pas encore un Coach</h2>

                            <div class="user-photo">
                                <img class="under-validation-photo" src="./assets/img/sad_face.png">

                            </div>

                            <div class="wrap-btn" style="text-align: center;    margin-bottom: 35px;
              margin-top: 35px;">
                                <button type="button" class="btn" [routerLink]="[ '/personal-coach' ]">Choisir mon Coach</button>
                            </div>
                        </div>








                        <h2 hide-role="global_manager, city_manager">Statistiques personnelles</h2>
                        <section class="user-statistics" hide-role="global_manager, city_manager">

                            <div class="list">
                                <div class="stat "><span class="number ">{{myPoints?.available_points}}</span><span class="title ">Points
                    GC disponibles</span></div>
                                <div class="stat "><span class="number ">{{mySacNumbers?.confirmed}}</span><span class="title ">Mes sacs triés</span></div>
                                <div *ngIf="myPoints?.Points_as_Coach!=0" class="stat  "><span class="number ">{{myPoints?.Points_as_Coach}}</span><span class="title ">Points
                    comme Coach</span></div>
                                <div class="stat  "><span class="number ">{{myPoints?.Ref_points}}</span><span class="title ">Points de
                    parrainage</span></div>
                            </div>

                        </section>



                        <div >
                            <h2>Mon stock actuel de sacs vides</h2>
                            <section class="user-storage-area">

                                <div class="list ">
                                    <div class="stat">
                                        <span *ngIf="mySacNumbers?.empty==0" class="title">Pas de sac vide en stock actuellement</span>
                                        <span class="number ">{{mySacNumbers?.empty}}</span><span *ngIf="mySacNumbers?.empty!=0" class="title">Sacs en PET vides chez moi</span>
                                    </div>
                                </div>

                            </section>
                        </div>

                        <h2 hide-role="global_manager, idle" style="text-transform: capitalize;">Green Chain dans ma ville : {{user?.city}}</h2>


                        <section class="user-statistics" >
                            <div class="list">
                                <div class="stat "><span class="number ">{{publicStats?.AT_collected}}</span><span class="title ">Sacs
                    triés</span></div>

                                <div class="stat "><span class="number ">{{publicStats?.trieurs}}</span><span class="title ">Nombre
                    Trieurs actifs</span></div>
                                <div class="stat "><span class="number ">{{publicStats?.confirmed_coachs}}</span><span class="title ">Nombre Coachs actifs</span></div>

                            </div>
                        </section>


                    </div>


                    <div class="dashboard-tab-right">


                        <h2 hide-role="global_manager, city_manager">Parrainage</h2>

                        <section class="sponsoring " hide-role="global_manager, city_manager">

                            <div>

                                <h3>Faites entrer vos amis dans la communauté GreenChain !
                                </h3>

                                <p>Invitez vos amis en partageant votre code de parrainage ci-dessous, ils devront l'indiquer au moment de leur inscription ! Vous recevrez 50 PTS à chaque nouvelle inscription</p>

                                <div class="input-wrapper inputProfile inputSponsor">
                                    <input type="text" placeholder="n° sponsoring" name="buttonSponsor" class="sponsorship-code" value={{myreflink}}>
                                    <button type="button" class="btn secondary buttonSponsor ">Parrainer</button>

                                </div>
                            </div>
                        </section>



                        <h2>Mon profil</h2>
                        <section class="user-identity">
                            <div *ngIf="user?.avatar==null" class="user-photo" [ngStyle]="{'background-image':'url('+noAvatarPicUrl+')'}">

                            </div>
                            <div *ngIf="user?.avatar!=null" class="user-photo" [ngStyle]="{'background-image':'url('+URL+user?.avatar+')'}">

                            </div>
                            <p class="user-name " style="text-transform: capitalize; ">{{user?.firstname}} {{user?.lastname}}
                            </p>
                            <p *ngIf="!isConfirmedCoach" style="text-transform: capitalize;">Trieur - {{user?.city}}
                            </p>
                            <p *ngIf="isConfirmedCoach" style="text-transform: capitalize;">Trieur - {{user?.city}}
                            </p>
                            <p style="text-transform: capitalize;">{{user?.email}}</p>
                            <div class="wrap-btn"><a class="user-edit secondary" [routerLink]="['/profile']">Editer mon profil</a></div>
                        </section>


                    </div>

                </div>