<header class="trieur-header">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" id="navbar">
            <a class="navbar-brand" [routerLink]="[ '/']">
                <i class="fas nav-link fa-recycle"> GreenChain</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-align-right text-light"></i>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="[ '/devenir-trieur']"> DEVENIR TRIEUR</a>

                        <span class="sr-only">(current)</span>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/devenir-coach']"> DEVENIR COACH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/comment-ca-marche']">COMMENT ÇA MARCHE ?</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/devenir-trieur']" fileSaver [method]="'GET'" [fileName]="'consigne.pdf'" [url]="'assets/consigne.pdf'">CONSIGNE DE TRI</a>
                    </li>



                    <li class="nav-item shop">
                        <button class="popup" [routerLink]="[ '/boutique']"><img src="/assets/img/shop.png" class="shop-icon" > </button>
                    </li>

                    <li class="nav-item profile">

                        <button class="popup" id="popup" (click)="popit()"> <img src="/assets/img/profile.png"> </button>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

</header>



<div class="container-trieur">
    <h1 class="h1-trieur">
        Qu’est-ce qu’un <span style="color: #37e6c7;"> Trieur</span> ?
    </h1>
    <h2 class="h2-trieur">C’est un voisin, un commerçant, un étudiant… bref, <br> un habitant <span style="font-weight: bold">qui veut agir pour l’environnement</span> mais <br> qui ne sait pas comment !</h2>

    <!-- <button class="btn btn-light px-5 py-2 primary-btn Devenir-trieur-btn">
      DEVENIR TRIEUR
  </button> -->
    <div class="Logo-trieur">
        <img src="/assets/img/trieur_sac.png" alt="Logo Trieur" />
    </div>
</div>

<section class="section-3 container-fluid p-0 text-center" id="div-hidden-test" style="display: none; ">
    <!-- <button id="popup" (click)="popit()"> Open Popup</button> -->
    <!--  signIN     -->







    <div class="all">
        <div class="signin-signup-div" id="signin-signup-div">

            <div class="form-container sign-up-container">
                <div class="close" id='closeSignin' (click)="closein()">+</div>

                <form class="form-sign-fn-up" #f="ngForm">
                    <div class="content">
                        <div class="roles">
                            <div class="role">
                                <h1 class="inscrivez-vous">
                                    Inscrivez-vous
                                </h1>
                                <h4 class="title">Quel rôle souhaitez-vous avoir ?</h4>
                                <label class="sorter">
                        <input type="radio" name="role" [(ngModel)]="signupForm.role" value="trieur" required>
                        Devenir Trieur
                    </label>

                                <label>
                        <input type="radio" name="role" [(ngModel)]="signupForm.role"  value="coach" required>
                        Devenir Coach
                    </label>

                            </div>

                            <div class="city">
                                <h4 class="title">Et où habitez-vous ?</h4>
                                <p class="desc"></p>
                                <div>
                                    <select class="select-wrapper" ngModel id="cities" name="city" required>
                            <option class="options-list" value="" 
                            disabled="" selected="">
                              Choisissez votre
                                ville</option>
                            <option class="options-list" 
                           >Abidjan</option>
                         
                        </select>
                                </div>

                            </div>
                        </div>

                    </div>
                    <input class="input-sign-in-all" type="email" [(ngModel)]="signupForm.email" email required placeholder="Votre adresse mail" name="email" />
                    <input class="input-sign-in-all" type="password" minlength="6" required [(ngModel)]="signupForm.password" placeholder="Votre mot de passe" name="password" />
                    <button class="sign-in" type="button" [disabled]="!isValid(f)" (click)="onSignUp(f)">Je m'inscris</button>

                </form>

            </div>
            <div class="form-container sign-in-container">
                <form class="form-sign-fn-up">
                    <h1 class="inscrivez-vous">Se Connecter</h1>
                    <div class="login">
                        <div *ngIf="error != ''" class="alert alert-danger" role="alert">
                            <br>
                            <alert type="danger">
                                <strong>Opps!</strong> <br>
                                <ul>
                                    <li>{{error}}</li>
                                </ul>
                            </alert>
                        </div>
                    </div>
                    <input class="input-sign-in-all" name="email" type="email" [(ngModel)]="loginData.email" placeholder="Votre adresse email" />
                    <input class="input-sign-in-all" name="password" type="password" [(ngModel)]="loginData.password" placeholder="Votre mot de passe" />
                    <a class="forgot-yout-password" href="#">Mot de passe oublié?</a>
                    <button class="sign-in" type="button" (click)="onLogin()">Se Connecter </button>

                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Soyez le Bienvenue!</h1>
                        <p class="to-keep">Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles.
                        </p>
                        <input class="sign-in ghost" id="signIn" type="button" (click)="signInButton()" value="Se Connecter">
                    </div>
                    <div class="overlay-panel overlay-right">
                        <div class="close" id='closeSignin' (click)="closein()">+</div>
                        <h1>Salut l'ami!</h1>
                        <p class="enter-your">Entrez vos informations personnelles et commencez le voyage avec nous</p>
                        <input class="sign-in ghost" id="signUp" type="button" (click)="signUpButton()" value="S'inscrire">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





<div class="box-trieur">
    <h2 style="color: #37e6c7;" class=" missions-trieur display-4 ">
        Quelles sont <br>les missions du Trieur ? </h2>
    <br>
    <div class="text-missions-trieur lead ">
        <p><strong> C’est hyper simple !</strong> Il trie ses bouteilles en plastique dans le sac GreenChain et cumule des points <strong> <span style="color: #0045f1; ">1 sac = 125 points</span> </strong> qu’il échange contre des récompenses !</p>

        <p>Et c’est tout ? Bien sûr que non !</p>

        <p>Un Trieur c’est surtout un <strong> <span style="color: #0045f1; ">acteur central </span></strong> de son quartier, c’est un <strong> <span style="color: #0045f1;
        ">membre de la communauté Green Chain</span></strong>, c’est un <strong> <span style="color: #0045f1; "> maillon fort </span></strong>de la société qui agit activement et positivement avec ses voisins contre la pollution plastique.</p>
    </div>

    <button class="btn btn-primary" (click)="popit()">REJOINS-NOUS VITE !</button>


</div>




<app-unauthed-footer></app-unauthed-footer>

<!-- <footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="box">
                <div class="navigation">

                    <div class="wrap">

                        <div class="box">

                            <div class="logo">
                                <img src="/assets/img/Logo final greenchain.png" alt="logo greenchain">
                            </div>

                            <nav>
                                <ul id="secondary-menu" class="sub-menu">
                                    <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
                                        <a [routerLink]="[ '/devenir-trieur']">DEVENIR TRIEUR</a></li>
                                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55">
                                        <a [routerLink]="[ '/devenir-coach']">DEVENIR COACH</a></li>
                                    <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                                        <a [routerLink]="[ '/comment-ca-marche']">COMMENT ÇA MARCHE</a></li>


                                    <li id="menu-item-840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840">
                                        <a [routerLink]="[ '/boutique']">BOUTIQUE</a></li>


                                </ul>
                            </nav>

                            <div style="clear: both;"></div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-5 col-sm-12">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form class="form-inline">
                    <div class="col pl-0">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-light">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</footer> -->