
<app-authed-navbar></app-authed-navbar>
<div class="main-content">
    <div class="deny-layer"></div>
    <div class="content ">


        <section class="section default">
            <div style="text-align: center;padding: 23px;" class="alert alert-primary alert-dismissible fade show">

                <strong>PS: Vous serez notifier par email lors du changement d'état de votre commande !</strong>
                <button type="button" class="close" data-dismiss='alert' area-label="Close">
                    <span aria-hidden="true">+</span>
                  </button>
                <br>

                <span>Merci de bien vouloir consulter votre boite de réception</span>

            </div>
            <br> <br>
            <div class="header-wrapper rewards-header ">
                <h1 class="header-title">Mes récompenses</h1>
            </div>

            <main class="rewards-content ">

                <h2>Mes points GreenChain disponibles</h2>
                <div class="recap-user">
                    <div class="point-available">{{availablePoints}} PTS</div>
                    <div class="label">GC disponibles</div>
                </div>

                <h2>Mes récompenses</h2>
                <div class="table assigned-table  " datagrid="">

                    <div class="thead">
                        <div class="th">
                            N° de commande
                        </div>
                        <div class="th number">
                            Nombre de récompenses
                        </div>
                        <div class="th number">
                            PNTS GC payés
                        </div>
                        <div class="th number">
                            Status
                        </div>
                        <div class="th number">
                            Date
                        </div>
                        <div class="th number">
                            Actions
                        </div>

                    </div>



                    <div class="tbody">
                        <div *ngFor="let order of myorders" class="tr">

                            <div class="td status">
                                {{order.id}}
                            </div>
                            <div class="td status">
                                {{order.products.length}}
                            </div>
                            <div class="td number">
                                {{order.total_price}}
                            </div>
                            <div class="td number">
                                {{order.status}}
                            </div>
                            <div class="td number">
                                {{order.created_at}}
                            </div>

                            <div>
                                <button *ngIf="order.status=='En préparation'" (click)="popAlert(order.id)" class="primary">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="under-validation-container no-rewards" *ngIf="myorders.length==0">
                    <img class="under-validation-photo" src="./assets/img/sad_face.png">
                    <h1 class="under-validation-title">Oh non !</h1>
                    <p class="under-validation-explanations no-rewards-info-go-shop">
                        Vous n'avez pas encore profité des récompenses GreenChain<br> Ne tardez plus !
                    </p>
                    <div class="under-validation-buttons">
                        <a class="btn blue-orange under-validation-button" [routerLink]="[ '/boutique/catalog']"><span>Se rendre sur
                      la boutique</span></a>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>
<alert class="alert-modal warning opened" *ngIf="cancelAlert">
    <span class="alert-modal-text ">
                Voulez vous vraiment annuler cette commande ?! 
              </span>


    <button class="btn" type="button" style="line-height:0px;" name="button" (click)="popAlert()">Non</button>
    <button class="btn" type="button" style="line-height:0px;" name="button" (click)="confirmedCancel()">Oui</button>
</alert>

<alert class="alert-modal success opened" *ngIf="successAlert">
    <span class="alert-modal-text ">
                Vous avez annuler la commande avec succès! 
              </span>


    <button class="btn" type="button" name="button" (click)="okAlert()">OK</button>
</alert>