<footer>
    <div class="container-fluid">
        <div class="row text-left">
            <div class="box">
                <div class="navigation">

                    <div class="wrap">

                        <div class="box">

                            <div class="logo">
                                <img src="/assets/img/Logo final greenchain.png" class="img-fluid">
                            </div>

                            <nav>
                                <ul id="secondary-menu" class="sub-menu">
                                    <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48">
                                        <a [routerLink]="[ '/devenir-trieur']">DEVENIR TRIEUR</a></li>
                                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55">
                                        <a [routerLink]="[ '/devenir-coach']">DEVENIR COACH</a></li>
                                    <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
                                        <a [routerLink]="[ '/comment-ca-marche']">COMMENT ÇA MARCHE</a></li>


                                    <li id="menu-item-840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-840">
                                        <a [routerLink]="[ '/boutique']">BOUTIQUE</a></li>


                                </ul>
                            </nav>

                            <!-- <div style="clear: both;"></div> -->

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-5 col-sm-12" style="margin-top: 3.6vw;">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form class="form-inline">
                    <div class="col pl-0">
                        <div class="input-group pr-5">
                            <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">

                            <div class="input-group-prepend">

                                <div class="input-group-text">

                                    <button class="newsletter-button" type="submit"><i style="color: #212529;" class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12" style="margin-top: 3.6vw;">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Let us be social</p>
                <div class="column text-light">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</footer>