
<app-authed-navbar></app-authed-navbar>
<div class="main-content ">
    <div class="deny-layer"></div>
    <div class="content ">
        <section class="section default">

            <div>
                <main class="personal-space profile ">

                    <nav class="profile-nav">
                        <ul class="profile-nav-tabs">
                            <li class="profile-one-tab">
                                <a class="profile-one-tab-link">Coordonnées</a>
                            </li>
                            <li class="profile-one-tab">

                            </li>
                            <li class="profile-one-tab">
                                <a class="profile-one-tab-link">Adresse</a>
                            </li>
                            <li class="profile-one-tab">
                                <a class="profile-one-tab-link">Rôle</a>
                            </li>
                            <li class="profile-one-tab">
                            </li>
                            <li class="profile-one-tab">
                                <a class="profile-one-tab-link" hide-role="global_manager">Parrainage</a>
                            </li>
                            <li class="profile-one-tab">
                            </li>
                        </ul>
                    </nav>

                    <form #f="ngForm" [(ngForm)]="myForm" class="profile-tab  " name="profileForm" id="scrollAreaProfile">
                        <section class="profile-identity" id="profileIdentity">
                            <div class="profile-identity-details">

                                <div *ngIf="!user?.avatar" class="profile-photo " style="background-image: url(&quot;/assets/img/no-avatar.png&quot;);">
                                    <input type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/png, image/jpeg" #fileInput>
                                    <span (click)="fileInput.click()">Modifier</span>
                                </div>


                                <div *ngIf="user?.avatar" class="profile-photo " [ngStyle]="{'background-image':'url('+URL+user?.avatar+')'}">
                                    <input type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/png, image/jpeg" #fileInput>
                                    <span (click)="fileInput.click()">Modifier</span>
                                </div>
                                <div class="profile-information">
                                    <p class="profile-name">
                                        <span>{{user?.firstname}}</span>
                                        <span> {{user?.lastname}}</span>
                                    </p>

                                    <p class="profile-data " hide-role="global_manager"> - {{user?.city}}</p>
                                    <p class="profile-data "></p>
                                </div>
                            </div>
                            <button type="button" class="tertiary"><span>Désactiver le compte</span></button>
                        </section>



                        <section class="profile-contact">
                            <div class="profile-form">
                                <h3 class="h3">Coordonnées </h3>
                                <div class="input-column">


                                    <div class="input-wrapper">
                                        <label>Nom *</label>
                                        <input type="text" placeholder="Nom" name="name" [(ngModel)]="user.lastname" class=" " required>
                                        <div class="input-error">
                                            Ce champs est requis
                                        </div>
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Prénom*</label>
                                        <input type="text" placeholder="Prénom" name="firstName" [(ngModel)]="user.firstname" class="" required>
                                        <div class="input-error">
                                            Ce champs est requis
                                        </div>
                                    </div>

                                    <div class="input-wrapper">
                                        <label>Email *</label>
                                        <input type="text" placeholder="" [(ngModel)]="user.email" name="emailDisabled" disabled="" required>
                                    </div>
                                    <div class="input-wrapper">
                                        <label>Téléphone *</label>
                                        <input type="text" placeholder="n° téléphone" name="phone" [(ngModel)]="user.tel" required class="">
                                        <div class="input-error">
                                            Le numéro doit être valide
                                        </div>
                                    </div>
                                </div>
                                <p class="star">(Champs obligatoires *)</p>
                            </div>
                        </section>


                        <section class="profile-contact">
                            <div class="profile-form">
                                <h3 class="h3">Adresse *</h3>
                                <div class="input-wrapper">
                                    <label>Adresse Postale *</label>
                                    <input type="text" placeholder="Adresse 1" name="adress1" required [(ngModel)]="user.addresses[0].primary_address">
                                </div>

                                <div class="input-wrapper">
                                    <label>Complément d'adresse</label>
                                    <input type="text" [(ngModel)]="user.addresses[0].additional_address" placeholder="Complément d&#39;adresse. Ex: résidence, chemin etc." name="adress2">
                                </div>
                                <div class="input-wrapper">
                                    <label>Code Postal *</label>
                                    <input type="number" placeholder="Code Postal" name="postalCode" [(ngModel)]="user.addresses[0].zip" required>
                                </div>
                                <div class="input-wrapper">
                                    <label>Ville actuelle *</label>
                                    <input type="text" placeholder="Abidjan" name="adress" [(ngModel)]="user.city" disabled="" required>
                                </div>
                            </div>
                        </section>
                        <section class="profile-contact" id="profileRoleUpgrade">
                            <div class="profile-form role">
                                <h3 class="h3">Rôle</h3>
                                <div class="input-row">
                                    <div class="input-wrapper">
                                        <span>Vous êtes Trieur !</span>

                                        <button [disabled]="pendingCoach==true" type="button" class="btn " 
                                        [routerLink]="[ '/register-coach']" >Devenir Coach</button>
                                        <p *ngIf="pendingCoach==true" style="margin-top: 23px;color:#dd2476;margin-bottom:-23px" class="star">Merci d'attendre le traitement de votre demande de changement de role :)</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="profile-contact " id="profileSponsor" hide-role="global_manager">
                            <div class="profile-form sponsor">
                                <h3 class="h3 ">Faites entrer vos amis dans la communauté Green Chain !
                                </h3>
                                <div class="input-column">
                                    <div>
                                        <p>Invitez vos amis en partageant votre code de parrainage ci-dessous, ils devront l'indiquer au moment de leur inscription ! Vous recevrez 50 PTS à chaque nouvelle inscription
                                        </p>
                                    </div>
                                    <div class="input-wrapper inputSponsor">
                                        <input type="text" placeholder="n° sponsoring" name="buttonSponsor" [(ngModel)]="myreflink" class="sponsorship-code ">
                                    </div>

                                </div>
                            </div>
                        </section>
                        <div class="validate">
                            <button type="submit" class="btn" name="button" (click)="onUpload()" [disabled]="!isValid(f)">Enregistrer les
                modifications</button>
                            <div>
                            </div>
                        </div>


                    </form>
                </main>
            </div>
        </section>
    </div>
</div>

<alert class="alert-modal ">
    <pre class="alert-modal-text "></pre>
    <button class="show-more-details " type="button" name="button">voir plus</button>
    <button class="btn " type="button" name="button"></button>
    <ul class="error-details ">
    </ul>
</alert>