@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(45deg)
    }
}

@keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0) rotate(0deg)
    }
    50% {
        -webkit-transform: translateY(13px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateY(13px) rotate(135deg)
    }
}

@keyframes outT {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    50% {
        -webkit-transform: translateY(13px) rotate(0deg);
        transform: translateY(13px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateY(13px) rotate(135deg);
        transform: translateY(13px) rotate(135deg)
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0) rotate(0deg)
    }
    50% {
        -webkit-transform: translateY(-13px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateY(-13px) rotate(135deg)
    }
}

@keyframes outBtm {
    0% {
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }
    50% {
        -webkit-transform: translateY(-13px) rotate(0deg);
        transform: translateY(-13px) rotate(0deg)
    }
    100% {
        -webkit-transform: translateY(-13px) rotate(135deg);
        transform: translateY(-13px) rotate(135deg)
    }
}

html,
body,
div,
span,
h1,
h2,
p,
pre,
a,
img,
ol,
ul,
li,
header,
section {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px
}

header,
section {
    display: block
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

a:link {
    color: #5f5f5f;
    text-decoration: none
}

a:visited {
    color: #5f5f5f;
    text-decoration: none
}

a:hover {
    color: #5f5f5f;
    text-decoration: none
}

a:focus,
a:active {
    background: none;
    text-decoration: none;
    color: #5f5f5f
}

* {
    font-family: Nunito, sans-serif
}

h2 {
    font-size: calc(1rem*3.05176);
    font-family: ubuntu
}

h1 {
    font-size: calc(1rem*3.8147);
    font-family: ubuntu
}

h1 {
    color: #5f5f5f;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px
}

h2 {
    color: #5f5f5f;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px
}

*:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

::-webkit-input-placeholder {
    color: #a1aac1
}

::-moz-placeholder {
    color: #a1aac1
}

:-ms-input-placeholder {
    color: #a1aac1
}

:-moz-placeholder {
    color: #a1aac1
}

:disabled ::-webkit-input-placeholder {
    color: #a1aac1
}

:disabled ::-moz-placeholder {
    color: #a1aac1
}

:disabled :-ms-input-placeholder {
    color: #a1aac1
}

:disabled :-moz-placeholder {
    color: #a1aac1
}

.btn:not([ta-button]) {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 50px;
    padding: 0 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #fff;
    box-sizing: border-box;
    border-radius: 38px;
    border: none;
    background-color: #dd2476;
    outline: none;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: .5px;
    box-shadow: 0 0 10px 2px rgba(38, 38, 38, .11);
    text-transform: uppercase;
    font-size: 14px
}

.btn:not([ta-button]):before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 100%;
    margin: -15px 0 0 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #0045f1;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1, 2, 1);
    transform: scale3d(1, 2, 1);
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .9, 1);
    transition-timing-function: cubic-bezier(.7, 0, .9, 1)
}

.btn:not([ta-button]):hover {
    background: #0045f1
}

.btn:not([ta-button]):hover:before {
    -webkit-transform: scale3d(11, 11, 1);
    transform: scale3d(11, 11, 1)
}

.btn:not([ta-button]):not(:disabled):hover {
    background-color: #0045f1
}

.btn:not([ta-button]):disabled {
    background-color: #fdeae2;
    color: #ffe0d4;
    pointer-events: none
}

.alert-modal .btn {
    padding: 4px 30px;
    border-color: currentColor;
    background-color: transparent
}

.alert-modal .btn:not(:disabled):hover {
    color: #fff
}

.alert-modal.success .btn:not(:disabled):hover {
    background-color: #5cb85c
}

.alert-modal.warning .btn.btn:not(:disabled):hover {
    background-color: #f0ac4d
}

.alert-modal.error .btn.btn:not(:disabled):hover {
    background-color: #d9534f
}

.alert-modal.info .btn:not(:disabled):hover {
    background-color: #0045f1
}

.table {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    counter-reset: tr
}

.table .td,
.table .th {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    border-bottom: 10px solid #f5f8fe
}

.table .td.number,
.table .th.number {
    text-align: right
}

.thead {
    display: table-header-group
}

.thead .th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    background-color: #f5f8fe;
    border-top: 10px solid #f5f8fe;
    color: #a1aac1;
    font-size: 14px;
    font-weight: 500
}

.thead .th.status {
    width: 50px;
    text-align: center
}

.tbody {
    display: table-row-group;
    border: 1px solid #f5f8fe;
    box-sizing: border-box
}

.tbody .tr {
    display: table-row;
    counter-increment: tr;
    border-bottom: 1px solid #f5f8fe
}

tbody .tr:not(:focus-within) input:not([type=checkbox]),
tbody tr:not(:focus-within) input:not([type=checkbox]),
.tbody .tr:not(:focus-within) input:not([type=checkbox]),
.tbody tr:not(:focus-within) input:not([type=checkbox]) {
    border-color: transparent;
    background-color: transparent
}

.tbody .tr:nth-child(odd) {
    background-color: #f5f8fe
}

.tbody .tr:hover {
    background-color: #cfd5e0
}

.tbody .tr .td.status {
    text-align: center
}

.td {
    color: #5f5f5f;
    background: #fff
}

@supports(-moz-transform:translate(0)) {}

.tab-list-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.tab-list-nav .tab-item {
    height: 100%
}

.tab-list-nav .tab-item:hover .tab-item-link,
.tab-list-nav .tab-item.active .tab-item-link {
    color: #dd2476
}

.tab-list-nav .tab-item a {
    color: #5f5f5f;
    font-size: 1.3em;
    -webkit-transition: .3s color;
    transition: .3s color;
    padding: 0 30px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap
}

@media all and (max-width:1100px) {
    .tab-list-nav .tab-item a {
        padding: 0 10px 0 0
    }
}

.tabs-container {
    clear: both
}

.tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-bottom: 1px solid #cfd5e0;
    margin: 0 0 20px
}

.tab-list .tab-item {
    margin: auto 45px auto 0;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: .3s color;
    transition: .3s color;
    color: #5f5f5f
}

.tab-list .tab-item a {
    font-weight: 700;
    line-height: 2em;
    display: inline-block
}

.tab-list .tab-item:hover a {
    color: #0045f1;
    font-weight: 700;
    border-bottom: 2px solid #0045f1;
    margin-bottom: -2px
}

.tab-list .tab-item:hover:hover {
    text-decoration: none
}

.tab-list .tab-item.active a {
    color: #0045f1;
    font-weight: 700;
    border-bottom: 2px solid #0045f1;
    margin-bottom: -2px
}

.alert-modal {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding: 10px 15px;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    -webkit-transition: .5s cubic-bezier(.25, .46, .45, .94);
    transition: .5s cubic-bezier(.25, .46, .45, .94);
    border-radius: 2px;
    box-shadow: 1px 1px 4px 0 rgba(144, 131, 130, .2);
    z-index: 2
}

.alert-modal button {
    color: currentColor;
    margin-left: auto
}

.alert-modal .error-details {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #d9534f
}

.alert-modal .show-more-details {
    display: none
}

.alert-modal-text {
    line-height: 1.5em
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px
}

.header-wrapper .header-title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.header-wrapper>* {
    display: inline-block
}

.no-data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em;
    margin-top: 10em
}

.no-data-container.no-data {
    margin-top: 0
}

.no-data-container .no-data-photo {
    height: 311px;
    margin-bottom: 1em
}

.no-data-container .no-data-explanations {
    font-size: 16px;
    color: #5f5f5f;
    letter-spacing: .5px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 2em;
    text-transform: uppercase
}

html {
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: system-ui
}

body {
    min-height: 100%;
    height: 1px;
    overflow-x: hidden
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px
}

@media all and (max-width:400px) {
    .content {
        padding: 15px
    }
}

.section {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media all and (orientation:portrait) and (max-width:620px) {
    .section {
        border-left-width: 0;
        border-right-width: 0
    }
}

.distribution-header .action-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px
}

.distribution-header .action-wrapper.stats {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.distribution-header .action-wrapper .stats-card {
    width: 200px;
    background-color: #fff;
    border-radius: 2px;
    text-align: left;
    padding: 20px 30px;
    margin-right: 10px
}

.distribution-header .action-wrapper .stats-card .bag-name {
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 1em;
    color: #5f5f5f;
    letter-spacing: .33px
}

.distribution-header .action-wrapper .stats-card .bag-stat {
    font-size: 14px;
    font-weight: 700;
    float: right;
    color: #5f5f5f;
    letter-spacing: .47px
}

.tabs-container h2 {
    font-size: 19px;
    margin-bottom: 20px
}

.distribution-header {
    display: block
}

.distribution-header h2 {
    margin-bottom: 15px;
    display: block
}

.tabs-container h2 {
    font-size: 19px;
    margin-bottom: 20px
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 10
}

.main-content {
    padding-top: 70px;
    background-color: #f5f8fe;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    height: 70px;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .11)
}

.header-top .logo {
    display: inline-block;
    margin-right: 50px;
    width: 50px
}

@media all and (max-width:1100px) {
    .header-top .logo {
        position: absolute;
        top: 0;
        left: calc(50% - 25px)
    }
}

.header-top .logo a {
    display: inline-block;
    height: 100%
}

.header-top .logo img {
    height: 50px;
    width: auto;
    margin: 10px 0
}

.header-top .header-user-wrapper,
.header-top .header-shop-wrapper {
    position: relative;
    margin-left: 20px;
    height: 70px;
    width: 25px
}

.header-top .header-user-wrapper .icon,
.header-top .header-shop-wrapper .icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #cfd5e0;
    height: 35px;
    width: 35px
}

.header-top .header-user-wrapper .icon:hover,
.header-top .header-shop-wrapper .icon:hover {
    fill: #dd2476
}

.header-top .header-shop-wrapper {
    margin: auto 0 auto auto
}

@media all and (max-width:1400px) {
    .header-top .tab-list-nav .tab-item a {
        padding: 0 10px
    }
}

.nav-trigger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 15px 0 0;
    display: none
}

@media all and (max-width:1100px) {
    .nav-trigger {
        display: block
    }
}

.nav-trigger i {
    background-color: #cfd5e0;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 5px
}

.nav-trigger i:nth-child(1) {
    -webkit-animation: outT .8s backwards;
    animation: outT .8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    margin-top: 5px
}

.nav-trigger i:nth-child(2) {
    margin: 8px 0;
    -webkit-animation: outM .8s backwards;
    animation: outM .8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse
}

.nav-trigger i:nth-child(3) {
    -webkit-animation: outBtm .8s backwards;
    animation: outBtm .8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse
}

@media all and (max-width:1100px) {
    .tab-list-nav {
        display: none
    }
}