
<app-authed-navbar></app-authed-navbar>
<div class="main-content ">
    <div class="deny-layer"></div>
    <div class="content ">
        <section class="section default">
            <div>
                <div class="header-wrapper distribution-header ">

                    <h1  class="header-title">Mes sacs</h1>
                    <h2>Sacs vides disponibles</h2>

                    <div class="action-wrapper stats">
                        <div class="stats-card ">
                            <div class="content-card">
                                <div>
                                    <span class="bag-name ">Plastique PET</span>
                                    <span class="bag-stat ">{{mySacNumbers?.empty}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tabs-container ">
                    <h2>Mes actions</h2>
                    <ol class="tab-list">



                        <li class="tab-item" routerLinkActive="active">
                            <a [routerLink]="['/distribution/assigned']">
            Sacs vides reçus
          </a>
                        </li>
                        <li class="tab-item" routerLinkActive="active">
                            <a [routerLink]="['/distribution/collected']">
            Sacs pleins confirmés
          </a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="">
                <div class="table assigned-table  " datagrid="">

                    <div class="thead">
                        <div class="th status">
                            Statut
                        </div>
                        <div class="th number">
                            Coach
                        </div>
                        <div class="th number">
                            N° de sac
                        </div>
                        <div class="th number">
                            type
                        </div>
                        <div class="th number">
                            Date
                        </div>

                    </div>

                    <div class="tbody">
                        <div *ngFor="let sac of MySacsHistory" class="tr">

                            <div class="td status">
                                {{sac.status}}
                            </div>
                            <div class="td number">
                                {{sac.coach_name}}
                            </div>
                            <div class="td number">
                                {{sac.barcode}}
                            </div>
                            <div class="td number">
                                {{sac.type}}
                            </div>
                            <div class="td number">
                                {{sac.created_at}}
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="MySacsHistory.length==0" class="">
                    <div class="no-data-container no-data"><img alt="Pas d&#39;opérations en cours" class="no-data-photo" src="./assets/img/sad_face.png">

                        <p class="no-data-explanations">Pas de données à afficher </p>
                    </div>
                </div>
                <div tagged-infinite-scroll="getMore()" tagged-infinite-scroll-disabled="isBagLoading || isAllDataLoaded" class=" "></div>
            </div>
        </section>


    </div>
</div>


<alert class="alert-modal ">
    <pre class="alert-modal-text "></pre>
    <button class="show-more-details  " type="button" name="button">voir plus</button>
    <button class="btn " type="button" name="button"></button>
    <ul class="error-details ">
    </ul>
</alert>