
<app-authed-navbar></app-authed-navbar>

<div class="main-content ">
    <div class="deny-layer"></div>
    <div class="content ">
        <section class="section default">
            <div class="header-wrapper personal-space-header ">
                <h1 class="header-title">Vous rencontrez un problème ?</h1>
            </div>

            <div class="contact-space ">

                <h3>N'hésitez pas à nous contacter, nous prendrons le temps nécessaire de vous aider dans les plus brefs délais.
                </h3>

                <form name="contactForm" #f="ngForm">
                    <div>
                        <div class="input-wrapper">
                            <label>Objet de votre demande</label>

                            <input type="text" placeholder="Mon coach, mes récompenses , mon compte , autres.." name="name" ngModel required>
                            <div class="input-error">
                                Ce champs est requis
                            </div>

                            <div class="input-error">
                                Merci de choisir l'objet de votre demande
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="input-wrapper">
                            <label>Votre message </label>
                            <textarea required ngModel class="textarea-contact " name="contact-message" placeholder="Votre message" rows="50" cols="50">					</textarea>
                            <div class="input-error">
                                Champs obligatoire pour la création
                            </div>
                        </div>
                    </div>

                    <p>(Tous les champs sont obligatoires *)

                    </p>

                    <button type="submit" class="btn btn-submit-contact-form" style="margin-top: 15px" name="button" [disabled]="!isValid(f)">
            Envoyer mon message
          </button>
                </form>

            </div>
        </section>
    </div>
</div>