<header class="trieur-header">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" id="navbar">
            <a class="navbar-brand" [routerLink]="[ '/']">
                <i class="fas nav-link fa-recycle"> GreenChain</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-align-right text-light"></i>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav" style="text-align: center;">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/devenir-trieur']"> DEVENIR TRIEUR</a>

                        <!-- <span class="sr-only">(current)</span> -->

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/devenir-coach']"> DEVENIR COACH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/comment-ca-marche']">COMMENT ÇA MARCHE ?</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="[ '/devenir-coach']" fileSaver [method]="'GET'" [fileName]="'consigne.pdf'" [url]="'assets/consigne.pdf'">CONSIGNE DE TRI</a>
                    </li>



                    <li class="nav-item shop">
                        <button class="popup" [routerLink]="[ '/boutique']"><img src="/assets/img/shop.png" class="shop-icon" > </button>
                    </li>

                    <li class="nav-item profile">

                        <button class="popup" id="popup" (click)="popit()"> <img src="/assets/img/profile.png"> </button>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

</header>


<div class="container-trieur min-vh-100 container-fluid">
    <div class="row-fluid d-flex align-items-center">
        <div class="col-7 text-white ">
            <h1 class="h1-trieur">
                Qu’est-ce qu’un <span style="color: #37e6c7; font-size: 70px;"> Coach</span> ?
            </h1>
            <br>


            <h2 class="h2-trieur">Un Coach c’est Mohamed, Blandine, Mohktar ou Lisette. </h2>
            <h2 class="h2-trieur">Ils sont <span style="font-weight: bold"> retraités, imagiers, gardiens d’immeuble,
    <br> animateurs, épiciers, éducateurs, ...</span> </h2>

        </div>

        <div class="col-5">
            <img src="/assets/img/Picto_Coach.png" alt="Logo Trieur" class="img-fluid" />
        </div>
    </div>
</div>

<section class="section-3 container-fluid p-0 text-center" id="div-hidden-test" style="display: none; ">








    <div class="all">
        <div class="signin-signup-div" id="signin-signup-div">

            <div class="form-container sign-up-container">
                <div class="close" id='closeSignin' (click)="closein()">+</div>

                <form class="form-sign-fn-up" #f="ngForm">
                    <div class="content">
                        <div class="roles">
                            <div class="role">
                                <h1 class="inscrivez-vous">
                                    Inscrivez-vous
                                </h1>
                                <h4 class="title">Quel rôle souhaitez-vous avoir ?</h4>
                                <label class="sorter">
                        <input type="radio" name="role" [(ngModel)]="signupForm.role" value="trieur" required>
                        Devenir Trieur
                    </label>

                                <label>
                        <input type="radio" name="role" [(ngModel)]="signupForm.role"  value="coach" required>
                        Devenir Coach
                    </label>

                            </div>

                            <div class="city">
                                <h4 class="title">Et où habitez-vous ?</h4>
                                <p class="desc"></p>
                                <div>
                                    <select class="select-wrapper" ngModel id="cities" name="city" required>
                            <option class="options-list" value="" 
                            disabled="" selected="">
                              Choisissez votre
                                ville</option>
                            <option class="options-list" 
                           >Abidjan</option>
                         
                        </select>
                                </div>

                            </div>
                        </div>

                    </div>
                    <input class="input-sign-in-all" type="email" [(ngModel)]="signupForm.email" email required placeholder="Votre adresse mail" name="email" />
                    <input class="input-sign-in-all" type="password" minlength="6" required [(ngModel)]="signupForm.password" placeholder="Votre mot de passe" name="password" />
                    <button class="sign-in" type="button" [disabled]="!isValid(f)" (click)="onSignUp(f)">Je m'inscris</button>

                </form>

            </div>
            <div class="form-container sign-in-container">
                <form #g="ngForm" class="form-sign-fn-up">
                    <h1 class="inscrivez-vous">Se Connecter</h1>
                    <div class="login">
                        <div *ngIf="error != ''" class="alert alert-danger">

                            <strong>Opps!</strong>
                            <p>{{error}}</p>

                        </div>
                        <div *ngIf="successfulLogin ==true" class="alert alert-success" role="alert">

                            <alert type="success">
                                <strong>Bienvenue {{firstname}} ^^ </strong> <br>

                            </alert>
                        </div>
                    </div>
                    <input class="input-sign-in-all" name="email" type="email" required [(ngModel)]="loginData.email" placeholder="Votre adresse email" />
                    <input class="input-sign-in-all" name="password" type="password" required minlength="6" [(ngModel)]="loginData.password" placeholder="Votre mot de passe" />
                    <a class="forgot-yout-password" href="#">Mot de passe oublié?</a>
                    <button class="sign-in" type="button" [disabled]="!isValid(g)" (click)="onLogin()">Se Connecter </button>

                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Soyez le Bienvenue!</h1>
                        <p class="to-keep">Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles.
                        </p>
                        <input class="sign-in ghost" id="signIn" type="button" (click)="signInButton()" value="Se Connecter">
                    </div>
                    <div class="overlay-panel overlay-right">
                        <div class="close" id='closeSignin' (click)="closein()">+</div>
                        <h1>Salut l'ami!</h1>
                        <p class="enter-your">Entrez vos informations personnelles et commencez le voyage avec nous</p>
                        <input class="sign-in ghost" id="signUp" type="button" (click)="signUpButton()" value="S'inscrire">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





<div class="box-trieur">
    <h2 style="color: #37e6c7;" class=" missions-trieur display-4 ">
        Le Coach est le référent GreenChain <br> sur le terrain. </h2>
    <br>
    <div class="text-missions-trieur lead ">
        <p><strong style="color: #707787;     font-weight: 700;
        "> Il ou elle est le point relais des Trieurs et anime sa communauté.</strong>
            <br> Pour devenir Coach, il faut donc avoir un
            <span style="color: #0045f1; ">espace de stockage </span> <span style="color: #0045f1; ">un peu de temps disponible</span> chaque semaine et surtout la
            <span style="color: #0045f1; ">volonté de s’engager</span> dans un projet collectif pour protéger l’environnement. </p>



        <p>Les équipes GreenChain sur le terrain accompagnent les Coachs sur tous les sujets qui les concernent : organisation, faire vivre et faire croître la communauté, formation au tri et recyclage en général, éco-gestes du quotidien…</p>
    </div>

    <button class="btn btn-primary" (click)="popit()">REJOINS-NOUS VITE !</button>


</div>


<app-unauthed-footer></app-unauthed-footer>