html,
body,
div,
span,
h1,
h3,
p,
form,
label,
section {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px
}

section {
  display: block
}

* {
  font-family: Nunito, sans-serif
}

h3 {
  font-size: calc(1rem*2.44141);
  font-family: ubuntu
}

h1 {
  font-size: calc(1rem*3.8147);
  font-family: ubuntu
}

h1 {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px
}

h3 {
  color: #5f5f5f;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 10px
}

.input-wrapper {
  position: relative;
  text-align: left
}

.input-wrapper .input-error {
  min-height: 17px;
  visibility: hidden;
  position: absolute;
  margin-top: 6px;
  font-size: 14px
}

.input-wrapper input[type=text],
.input-wrapper textarea {
  display: block;
  border: 1px solid #e5e7ea;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  color: #515151;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5px;
  padding: 0 25px;
  width: calc(100% - 50px);
  box-shadow: 0 0 6px -4px gray
}

.input-wrapper textarea {
  min-height: 150px;
  line-height: 24px;
  font-size: 16px;
  padding: 25px;
  width: calc(100% - 60px)
}

.input-wrapper input[type=text]:focus,
.input-wrapper textarea:focus {
  color: #5f5f5f
}

*:focus {
  outline: none
}

::-moz-focus-inner {
  border: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  color: #a1aac1
}

::-webkit-input-placeholder {
  color: #a1aac1
}

::-moz-placeholder {
  color: #a1aac1
}

:-ms-input-placeholder {
  color: #a1aac1
}

:-moz-placeholder {
  color: #a1aac1
}

:disabled input::-webkit-outer-spin-button,
:disabled input::-webkit-inner-spin-button {
  color: #a1aac1
}

:disabled ::-webkit-input-placeholder {
  color: #a1aac1
}

:disabled ::-moz-placeholder {
  color: #a1aac1
}

:disabled :-ms-input-placeholder {
  color: #a1aac1
}

:disabled :-moz-placeholder {
  color: #a1aac1
}

form {
  background-color: #f5f8fe
}

.input-wrapper label {
  display: block;
  padding: 0 0 8px 25px;
  color: #5e5e5f
}

.btn:not([ta-button]) {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 50px;
  padding: 0 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
  box-sizing: border-box;
  border-radius: 38px;
  border: none;
  background-color: #dd2476;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: .5px;
  box-shadow: 0 0 10px 2px rgba(38, 38, 38, .11);
  text-transform: uppercase;
  font-size: 14px
}

.btn:not([ta-button]):before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0045f1;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  -webkit-transition-timing-function: cubic-bezier(.7, 0, .9, 1);
  transition-timing-function: cubic-bezier(.7, 0, .9, 1)
}

.btn:not([ta-button]):hover {
  background: #0045f1
}

.btn:not([ta-button]):hover:before {
  -webkit-transform: scale3d(11, 11, 1);
  transform: scale3d(11, 11, 1)
}

.btn:not([ta-button]):not(:disabled):hover {
  background-color: #0045f1
}

.btn:not([ta-button]):disabled {
  background-color: #fdeae2;
  color: #ffe0d4;
  pointer-events: none
}

.alert-modal .btn {
  padding: 4px 30px;
  border-color: currentColor;
  background-color: transparent
}

.alert-modal .btn:not(:disabled):hover {
  color: #fff
}

.alert-modal.success .btn {
  color: #5cb85c
}

.alert-modal.success .btn:not(:disabled):hover {
  background-color: #5cb85c
}

.alert-modal.warning .btn.btn:not(:disabled):hover {
  background-color: #39ff8c
}

.alert-modal.error .btn {
  color: #d9534f
}

.alert-modal.error .btn.btn:not(:disabled):hover {
  background-color: #d9534f
}

.alert-modal.info .btn:not(:disabled):hover {
  background-color: #0045f1
}

.secondary {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 50px;
  padding: 0 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #a1aac1;
  box-sizing: border-box;
  border-radius: 38px;
  border: none;
  background-color: #fff;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: .5px;
  box-shadow: 0 0 10px 2px rgba(38, 38, 38, .11);
  text-transform: uppercase;
  font-size: 14px
}

.secondary:hover {
  color: #5f5f5f
}

.secondary:visited {
  color: #a1aac1
}

.secondary:visited:hover {
  color: #5f5f5f
}

tbody .tr:not(:focus-within) input:not([type=checkbox]),
tbody tr:not(:focus-within) input:not([type=checkbox]),
.tbody .tr:not(:focus-within) input:not([type=checkbox]),
.tbody tr:not(:focus-within) input:not([type=checkbox]) {
  border-color: transparent;
  background-color: transparent
}

@supports(-moz-transform:translate(0)) {
}

.alert-modal {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 35%;
  margin: 0 auto;
  padding: 10px 15px;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  -webkit-transition: .5s cubic-bezier(.25, .46, .45, .94);
  transition: .5s cubic-bezier(.25, .46, .45, .94);
  border-radius: 2px;
  box-shadow: 1px 1px 4px 0 rgba(144, 131, 130, .2);
  z-index: 2
}

.alert-modal.opened {
  visibility: visible;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  -webkit-transition: .5s cubic-bezier(.25, .46, .45, .94);
  transition: .5s cubic-bezier(.25, .46, .45, .94)
}

.alert-modal.success {
  background-color: #f2fae3;
  color: #5cb85c
}

.alert-modal.error {
  background-color: #fff1f0;
  color: #d9534f
}

.alert-modal button {
  color: currentColor;
  margin-left: auto
}

.alert-modal-text {
  line-height: 1.5em
}

html {
  height: 100%;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui
}

body {
  min-height: 100%;
  height: 1px;
  overflow-x: hidden
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px
}

@media all and (max-width:400px) {
  .content {
    padding: 15px
  }
}

.error {
  color: #d9534f
}

.main-content {
  padding-top: 70px;
  background-color: #F5F8FD;
}

.onboarding-welcome-profile {
  padding: 0 0 80px
}

.onboarding-welcome-profile .intro {
  margin-bottom: 50px
}

.onboarding-welcome-profile .onboarding-profile .onboarding-profile-right {
  width: calc(100% - (250px + 50px + 5px));
  background-color: #f5f8fe;
  display: inline-block;
  vertical-align: top
}

@media all and (max-width:768px) {
  .onboarding-welcome-profile .onboarding-profile .onboarding-profile-right {
    width: 100%;
    padding: 0;
    margin: 0 0 30px
  }
}

.onboarding-welcome-profile .onboarding-profile-navigation-bottom {
  position: fixed;
  bottom: 0;
  background: rgba(25, 206, 191, 0.295);
  display: block;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, .11);
  text-align: center;
  padding: 15px 0
}




/* ------------------------------------Coach------------------------------------------- */

tbody .tr:not(:focus-within) input:not([type=checkbox]),
tbody tr:not(:focus-within) input:not([type=checkbox]),
.tbody .tr:not(:focus-within) input:not([type=checkbox]),
.tbody tr:not(:focus-within) input:not([type=checkbox]) {
  border-color: transparent;
  background-color: transparent
}

@supports(-moz-transform:translate(0)) {
}

.alert-modal {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  -webkit-transition: .5s cubic-bezier(.25, .46, .45, .94);
  transition: .5s cubic-bezier(.25, .46, .45, .94);
  border-radius: 2px;
  box-shadow: 1px 1px 4px 0 rgba(144, 131, 130, .2);
  z-index: 2
}

.alert-modal.opened {
  visibility: visible;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  -webkit-transition: .5s cubic-bezier(.25, .46, .45, .94);
  transition: .5s cubic-bezier(.25, .46, .45, .94)
}

.alert-modal.success {
  background-color: #f2fae3;
  color: #5cb85c
}

.alert-modal.error {
  background-color: #fff1f0;
  color: #d9534f
}

.alert-modal button {
  color: currentColor;
  margin-left: auto
}

.alert-modal-text {
  line-height: 1.5em
}

html {
  height: 100%;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui
}

body {
  min-height: 100%;
  height: 1px;
  overflow-x: hidden
}

.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f8fe;
}

@media all and (max-width:400px) {
  .content {
    padding: 15px
  }
}

.error {
  color: #d9534f
}

.main-content {
  padding-top: 70px;
  background-color: #f5f8fe;

}

.onboarding-welcome-profile {
  padding: 0 0 80px
}

.onboarding-welcome-profile .intro {
  margin-bottom: 50px
}

.onboarding-welcome-profile .onboarding-profile .onboarding-profile-right {
  width: calc(100% - (250px + 50px + 5px));
  background-color: #f5f8fe;
  display: inline-block;
  vertical-align: top
}

@media all and (max-width:768px) {
  .onboarding-welcome-profile .onboarding-profile .onboarding-profile-right {
    width: 100%;
    padding: 0;
    margin: 0 0 30px
  }
}

.onboarding-welcome-profile .profile-contact {
  padding: 30px;
  margin-bottom: 2em;
  color: #707787;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box
}

.onboarding-welcome-profile .profile-contact h3 {
  font-size: 1.2em;
  margin-bottom: 1em
}

.onboarding-welcome-profile .profile-contact .input-wrapper {
  margin-bottom: 30px;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.onboarding-welcome-profile .profile-contact .input-wrapper.input-wrapper-textarea {
  max-width: 100%
}

.onboarding-welcome-profile .profile-contact .input-wrapper .textAreaHobbies {
  min-height: 170px;
  width: 500px
}

.onboarding-welcome-profile .storage-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.onboarding-welcome-profile .storage-area .list .storage-size .box {
  cursor: pointer;
  width: 150px;
  display: block;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.onboarding-welcome-profile .storage-area .list .storage-size .box .label.size {
  padding: 3px 0;
  font-size: 1.1em;
  font-weight: 700
}

.onboarding-welcome-profile .storage-area .list .storage-size .box .label.equivalent-bags {
  font-weight: 700
}

.onboarding-welcome-profile .storage-area .list .storage-size .box .picture {
  width: 120px;
  height: 100px;
  margin: 0 auto 10px
}

.onboarding-welcome-profile .storage-area .list .storage-size input[type=radio]:checked~.box {
  background: #f2f3f5;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4)
}

